.reveal-item {	
	opacity: 0;	/*-our features items are intially invisible-*/
	transition: opacity 1.5s ease-out; /*-oppacity gradually fades in over 1.5 seconds with ease-out transition style-*/ 

	&--is-visible {
		opacity: 1; /*-full visibilty at end of transition-*/
	}
}

/*- we will use javscript to programatically add thw "reveal-item--is-visible" class to the hidden elements at precisely the right moment when they are scrolled to. /app/assets/scripts/modules/RevealOnScroll.js-*/