.reveal-item {	
	opacity: 0;	/*-our features items are intially invisible-*/
	transition: all 1.5s ease-out; /*-gradually transitions all properties over 1.5 seconds with ease-out transition style-*/ 
	transform: scale(1.15);

	&--is-visible {
		opacity: 1; /*-full visibilty at end of transition-*/
		transform: scale(1);
	}
}

/*- we will use javscript to programatically add thw "reveal-item--is-visible" class to the hidden elements at precisely the right moment when they are scrolled to. /app/assets/scripts/modules/RevealOnScroll.js-*/