.site-header {
	position: absolute;
	z-index: 2; /*-by default when two HTML elements are positioned in a way that will overlap, the element that comes later in the html doc will be the lop layer. Z-index overrides this.-*/
	width: 100%;
	padding: 10px 0;
	transition: background-color .3s ease-out;

	&--is-expanded {
		background-color: rgba($mainBlue, .55);
	}

	@mixin atMedium {
		background-color: rgba($mainBlue, .3);
	}

	&__btn-container {
		@mixin atMedium {
			float: right;
		}
	}

	&__logo {
		position: absolute;
		background-color: $mainBlue;
		padding: 25px 36px;
		top: 0;
		left: 50%; /*-position logo 50% to the left-*/
		transform: translateX(-50%) scale(.8); /*-pulls logo back to the right 50% of its own width-*/
		transform-origin: 50% 0%; /*- 50% 50% would be perfect middle both vertically and horizonally. setting vertical to 0% removes the space above the logo-*/

		@mixin atMedium { /*-reposition logo on desktop screens-*/
			left: auto;
			transform: translateX(0);
		}
	}

	&__menu-icon {
		width: 20px;
		height: 20px;
		background-color: #fff;
		position: absolute;
		z-index: 10; /*-puts button on top layer so nothing else can overlap it.-*/
		top: 10px;
		right: 10px;

		@mixin atMedium {
			display: none;
		}
	}

	&__menu-content {
		opacity: 0; /*-replaced display: none;-*/
		transform: scale(1.2); /*-20% larger than default size-*/
		padding-top: 80px; /*-changed from 100px to better center menu content.-*/
		text-align: center;
		transition: all .3s, ease-out;
		position: relative; /*-the brwoser wony acknowledge z-index without this-*/
		z-index: -10; /*-sets content beneath all the other content on the page so it cant be accidentally clicked on while hideden with opacity.-*/

		@mixin atMedium {
			opacity: 1; /*-replaced display: block;-*/
			z-index: 1; /* desktop default-*/
			padding-top: 0;
			transform: scale(1); /*-desktop default-*/
		}

		&--is-visible {
			display: block;
			opacity: 1;
			z-index: 1;
			transform: scale(1); /*-return to default size-*/
		}
	}

}