.site-header {
	position: absolute;
	z-index: 2; /*-by default when two HTML elements are positioned in a way that will overlap, the element that comes later in the html doc will be the lop layer. Z-index overrides this.-*/
	
	width: 100%;
	padding: 10px 0;

	@mixin atMedium {
		background-color: rgba($mainBlue, .3);
	}

	&__btn-container {
		float: right;
	}

	&__logo {
		position: absolute;
		background-color: $mainBlue;
		padding: 25px 36px;
		top: 0;
	}

	&__menu-content {
		display: none;

		@mixin atMedium {
			display: block;
		}
	}

}